body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #f39c12;
    padding: 20px;
    color: white;
    text-align: center;
    position: relative;
}

header h1 {
    font-family: 'Dancing Script', cursive;  /* Cute font */
    font-size: 36px;
    margin: 0;
}

header nav {
    position: absolute;
    top: 20px;
    right: 20px;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.food-gallery {
    padding: 40px;
    text-align: center;
}

.food-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.food-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.food-detail img {
    width: 50%;
    height: auto;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
}

ul {
    text-align: left;
    display: inline-block;
    margin-top: 10px;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #f39c12;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

button:hover {
    background-color: #e67e22;
}

footer {
    background-color: #f39c12;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
